<% include ./partials/header %>
<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div ><a style="color:black; font-weight:bold; font-size:medium;" href="/"> <img style="width:40%;" src="/images/logo_unit.png"/> Unity cars</a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul class="captial">
                                <%if(currentUser){%>
                                    <li class="active"><a href="/admin/view_all_cars">Admin</a></li>
                                <%}%>
                                <li ><a href="/">Home</a></li>
                                <li><a href="/buy-cars">Buy Cars</a></li>
                                <li><a href="/sell-cars">Sell your Car</a></li>
                                <li><a href="/contact-us">Get In Touch</a></li>
                                <%if(currentUser){%>
                                    <li><a href="/index/logout">Logout</a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </nav>
    

    <div class="container top" style="margin-bottom:3em; ">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">
                    
                    <div onclick="window.location.href = '/admin/add_cars'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold; text-align: center;">ADD NEW CARS</p>
                    </div>
            
                    <div style="font-weight: bold; text-align: center;background-color: #fafafa" onclick="window.location.href = '/admin/view_all_cars'" class="alert alert-primary card-1 pointer">
                        <p>VIEW UPLOADED PRODUCTS</p>
                    </div>
                            
                    <div onclick="window.location.href = '/admin/queries'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE QUERIES</p>
                    </div>

                    <div onclick="window.location.href = '/admin/manage-testimonial'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE TESTIMONIAL</p>
                    </div>

                    <div onclick="window.location.href = '/admin/manage-category'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE CATEGORY</p>
                    </div>

                    <div style="font-weight: bold; text-align: center; color:#FFC300;background-color: #fafafa" onclick="window.location.href = '/admin/car-submition'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">CAR SUBMISSION</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">
                    <% data.reverse().forEach(function(cars){ %>
                        <div onclick="window.location.href = '/admin/car-submition/<%=cars.id%>'" class="card card-1 pointer" style="margin-top:1em;">
                            <div style="padding:1em; background-color: #fafafa;">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-6" style="padding:1em;">
                                        <img src="<%=cars.carImage1%>" class="img-thumbnail">
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-6" style="padding:1em;">
                                        <div class="card card-2">
                                            <div style="padding:1em;">
                                                <p style="font-weight:bold; margin:0;">Name :  <%=cars.name%></p>
                                                <p style="font-weight:bold; margin:0;">Number :  <%=cars.number%></p>
                                                <p style="font-weight:bold; margin:0;">Email :  <%=cars.email%></p>
                                                <p style="font-weight:bold; margin:0;">Place :  <%=cars.place%></p>
                                                <p style="font-weight:bold; margin:0;">Catergory :  <%=cars.catergory%></p>
                                                <p style="font-weight:bold; margin:0;">Model :  <%=cars.model%></p>
                                                <p style="font-weight:bold; margin:0;">Expected price :  <%=cars.price%></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>