<% include ./partials/header %>
<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div ><a style="color:black; font-weight:bold; font-size:medium;" href="/"> <img style="width:40%;" src="/images/logo_unit.png"/> Unity cars</a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul class="captial">
                                <%if(currentUser){%>
                                    <li class="active"><a href="/admin/view_all_cars">Admin</a></li>
                                <%}%>
                                <li ><a href="/">Home</a></li>
                                <li><a href="/buy-cars">Buy Cars</a></li>
                                <li><a href="/sell-cars">Sell your Car</a></li>
                                <li><a href="/contact-us">Get In Touch</a></li>
                                <%if(currentUser){%>
                                    <li><a href="/index/logout">Logout</a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </nav>

    <aside id="colorlib-hero" class="breadcrumbs">
	    <div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(/images/cover-img-1.jpg);">
			   		<div class="overlay"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h1>Product Detail</h1>
				   					<h2 class="bread"><span><a href="/admin/view_all_cars">Admin</a></span> <span><a href="/admin/view_all_cars">All Product</a></span> <span>Product Detail</span></h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
	</aside>

	<div class="colorlib-shop">
		<div class="container">
			<div class="row row-pb-lg">
				<div class="col-md-10 col-md-offset-1">
					<div class="product-detail-wrap">
						<div class="row">
							<div class="col-md-5">
								<div class="product-entry">
									<div class="product-img" style="background-image: url(<%=data.carImage1%>);">
											
									</div>
									<div class="thumb-nail">
                                        <a class="thumb-img zoom" style="background-image: url(<%=data.carImage2%>);background-size: cover;"></a>
										<a class="thumb-img zoom" style="background-image: url(<%=data.carImage3%>);background-size: cover;"></a>
                                        <a class="thumb-img zoom" style="background-image: url(<%=data.carImage4%>);background-size: cover;"></a>
                                        <a class="thumb-img zoom" style="background-image: url(<%=data.carImage5%>);background-size: cover;"></a>
                                        <a class="thumb-img zoom" style="background-image: url(<%=data.carImage6%>);background-size: cover;"></a>
                                        <a class="thumb-img zoom" style="background-image: url(<%=data.carImage7%>);background-size: cover;"></a>
                                        <a class="thumb-img zoom" style="background-image: url(<%=data.carImage8%>);background-size: cover;"></a>
                                        <a class="thumb-img zoom" style="background-image: url(<%=data.carImage9%>);background-size: cover;"></a>
                                        <a class="thumb-img zoom" style="background-image: url(<%=data.carImage10%>);background-size: cover;"></a>
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="desc">
									<h3><%=data.model%></h3>
									<p class="price">
										<span>Rs.<%=data.price%></span> 		
									</p>
                                    
                                    <div style="margin-bottom:1em; margin-top:1em;" class="text-center colorlib-heading">
                                        <h2 style="margin:0;"><span>Product Detail</span></h2>
                                    </div>
                                    <p style="font-weight:bold;margin:0;">Catergory : <%=data.catergory%></p>
                                    <p style="font-weight:bold;margin:0;">Manufacture : <%=data.make%></p>
                                    <p style="font-weight:bold;margin:0;">Model : <%=data.model%></p>
                                    <p style="font-weight:bold;margin:0;">Year : <%=data.year%></p>
                                    <p style="font-weight:bold;margin:0;">Fuel type : <%=data.trim%></p>
                                    <p style="font-weight:bold;margin:0;">Kilometers Driven : <%=data.kilometersDriven%> KM</p>
                                    <p style="font-weight:bold;margin:0;">Vehicle RegNo : <%=data.vehicleRegNo%></p>

                                    <p style="font-weight:bold;margin:0;">Owner Ship : <%=data.ownerShip%></p>
                                    <p style="font-weight:bold;margin:0;">Insurance : <%=data.insurance%></p>
                                    <p style="font-weight:bold;margin:0;">Selling staus : <%if(data.sold==false){%>IN SALE<%}else{%>SOLD OUT <%}%> </p>
                                    <%if(data.insuranceDate){%>
                                        <p style="font-weight:bold;margin:0;">InsuranceDate : <%=data.insuranceDate%></p>
                                    <%}%>
                                    <br/>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <div class="form-group">
                                                <label for="trim">Sold Status</label>
                                                <select onchange="changeSoldStatus(this.value, '<%=data.id%>')" name="sold" id="sold" class="form-control">
                                                    <option selected disabled >SELECT</option>
                                                    <option value="IN SALE" >IN SALE</option>
                                                    <option value="SOLD OUT">SOLD OUT</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p style="margin-top:1em;"><a class="btn btn-primary btn-addtocart" data-toggle="modal" data-target=".bd-example-modal-lg"> Edit Details</a></p>
                                        </div>
                                        <div class="col-md-6">
                                            <p style="margin-top:1em;"><a href="/admin/delete-car/<%=data.id%>" class="btn btn-primary btn-addtocart"> Delete</a></p>
                                        </div>
                                    </div>
								</div>
                            </div>
				        </div>
			        </div>
		        </div>
	        </div>
        </div>
    </div>

    <!--model  -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">EDIT CAR DETAILS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/admin/edit_car_details/<%=data.id%>" method="post" enctype="multipart/form-data">
                <div class="modal-body" style="padding:0;">

                    <div style="padding-top:1em;" class="form-row">
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="location_1">Location 1</label>
                                <select name="location1" class="form-control" id="location_1" required>
                                    <option disabled selected>Select</option>
                                    <option>Delhi</option>
                                    <option>Punjab</option>
                                    <option>Gujarat</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="location_2">Location 2</label>

                                <select name="location2" class="form-control" id="location_2" required>
                                    <option disabled selected>Select</option>
                                    <option>Delhi</option>
                                    <option>Punjab</option>
                                    <option>Gujarat</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="form-group">
                                <label for="location_3">location 3</label>
                                <select name="location3" class="form-control" id="location_3" required>
                                    <option disabled selected>Select</option>
                                    <option>Delhi</option>
                                    <option>Punjab</option>
                                    <option>Gujarat</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="category">Select make</label>
                                <select name="catergory" onchange="selectCategorytrim(this.value)" id="allCategortrimAdd" class="form-control" required>

                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="make">Select model</label>
                                <select name="make" onchange="selectMaketrim(this.value)" id="allMaketrim" class="form-control" required>
                                    <option>Select category</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="model">Select submodel</label>
                                <select name="model" onchange="selectModeltrim(this.value)" id="allMadetrim" class="form-control" required>
                                    <option>Select make</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="year">Select year</label>
                                <select onchange="selectYeartrim(this.value)" name="year" id="allModeltrim" class="form-control" required>
                                    <option>Select model</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="trim">Select trim</label>
                                <select name="trim" id="allYeartrim" class="form-control" required>
                                    <option>Select year</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="fristname">Owner name</label>
                                <input type="text" name="owner" class="form-control" id="fristname" value="<%=data.owner%>" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="kilometersDriven">Kilometers Driven</label>
                                <input type="text" name="kilometersDriven" class="form-control" id="kilometersDriven" value="<%=data.kilometersDriven%>" required>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="vehicleRegNo">Vehicle RegNo</label>
                                <input type="text" name="vehicleRegNo" class="form-control" id="vehicleRegNo" value="<%=data.vehicleRegNo%>" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="carPic">Upload car pics</label>
                                <input style="padding:1em;" id="carPic" name="myImage" type="file" class="form-control-file" multiple>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="text" name="price" class="form-control" id="price" value="<%=data.price%>" required>
                            </div>
                        </div>
                    </div>
    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>


<% include ./partials/footer %>
